@media only screen and (max-width: 600px) {
  body {
    /*       background-color: lightblue;  */

    transform: scale(0.8);

  }

}



*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}


.horizontal-collapse {
  width: 100%;
  margin: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 5rem;
  color: #fff;
}

.horizontal-collapse__inner {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.horizontal-collapse__item {
  min-height: 42rem;
  list-style: none;
  padding: 0;
  overflow: hidden;
  min-width: 10rem;
  max-width: 40rem;
  position: relative;
  transition: width 0.5s;
}

.horizontal-collapse__item--1 {
  background-color: gold;
}

.horizontal-collapse__item--2 {
  background-color: grey;
}

.horizontal-collapse__item--3 {
  background-color: pink;
}

.horizontal-collapse__item--4 {
  background-color: rgb(14, 255, 14);
}

.horizontal-collapse__item--5 {
  background-color: rgb(0, 140, 255);
}

.horizontal-collapse__item.is-active .horizontal-collapse__inactive-content {
  opacity: 0;
}

.horizontal-collapse__item.is-active .horizontal-collapse__active-content {
  opacity: 1;
}

.horizontal-collapse__item-inner {
  padding: 3rem;
}

.horizontal-collapse__inactive-content {
  opacity: 1;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

.horizontal-collapse__inactive-content .horizontal-collapse__heading {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-size: 3rem;
  line-height: 0;
  margin-bottom: 0;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.horizontal-collapse__active-content {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
}

.horizontal-collapse__heading {
  margin-top: 0;
  margin-bottom: 2rem;
}

.horizontal-collapse__body {
  margin-bottom: 2rem;
}

.horizontal-collapse__link {
  display: inline-block;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  line-height: 1;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: rgb(251, 255, 0);
}

/* selected link */
a:active {
  color: blue;
}